EXPO_PUBLIC_BACKEND_URL=https://andatra-backend.onrender.com
EXPO_PUBLIC_TELEGRAM_BOT_URL=https://andatra-telegram-bot.onrender.com
EXPO_PUBLIC_ENABLE_RENDER_KEEPALIVE=false
EXPO_PUBLIC_RENDER_KEEPALIVE_INTERVAL_MS=480000
EXPO_PUBLIC_APP_NAME=AndATRA
EXPO_PUBLIC_CITY_NAME=Almaty
EXPO_PUBLIC_TOMTOM_API_KEY=your_tomtom_api_key
